body {
  background-color: blanchedalmond;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px;
  padding-bottom: 10px;
  text-align: center;
}

.container img {
  height: 100px;
}

img:hover {
  background-color: darkred;
  transition: .5s;
}

.container a {
  margin-left: auto;
  margin-right: auto;
}

.container-02 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

